---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="14a7d7905be0104e04c3fc31ff8d5055",
        oauth_signature="3b55y9zd492PvsFPhBw4IwZU9OM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406485623", oauth_token="266200338-UHwokfGYPxOs5qzzKCDAEEU2txU7LZJQXXlJqXD0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Jul 2014 18:27:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1406486392'
      X-Transaction:
      - 501f07307938250e
    body:
      encoding: UTF-8
      string: '{"id":14561327,"id_str":"14561327","name":"DHH","screen_name":"dhh","location":"Chicago,
        USA","description":"Creator of Ruby on Rails, Founder & CTO at Basecamp (formerly
        37signals), NYT Best-selling author of REWORK and REMOTE, and Le Mans class-winning
        racing driver.","url":"http:\/\/t.co\/IaAsahpjsQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaAsahpjsQ","expanded_url":"http:\/\/david.heinemeierhansson.com","display_url":"david.heinemeierhansson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":118128,"friends_count":180,"listed_count":6808,"created_at":"Sun
        Apr 27 20:19:25 +0000 2008","favourites_count":4,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":20570,"lang":"en","status":{"created_at":"Sun
        Jul 27 18:24:11 +0000 2014","id":493461865654407168,"id_str":"493461865654407168","text":"Just
        about every single scaling problem at the Facebook\/Twitter\/Google level
        is \"custom\". Impossible to pre-architect for.","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":8,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14561327\/1398347760","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 27 Jul 2014 18:27:04 GMT
recorded_with: VCR 2.9.2
