---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="f5ea2f66daabcc67a1f300306aacf58b",
        oauth_signature="GGSWdnfL%2BLena8L%2B7HuoYo7ZVjc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406483739", oauth_token="266200338-UHwokfGYPxOs5qzzKCDAEEU2txU7LZJQXXlJqXD0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Jul 2014 17:55:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1406483755'
      X-Transaction:
      - 75cb631abcb33643
    body:
      encoding: UTF-8
      string: '{"id":14561327,"id_str":"14561327","name":"DHH","screen_name":"dhh","location":"Chicago,
        USA","description":"Creator of Ruby on Rails, Founder & CTO at Basecamp (formerly
        37signals), NYT Best-selling author of REWORK and REMOTE, and Le Mans class-winning
        racing driver.","url":"http:\/\/t.co\/IaAsahpjsQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaAsahpjsQ","expanded_url":"http:\/\/david.heinemeierhansson.com","display_url":"david.heinemeierhansson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":118128,"friends_count":180,"listed_count":6808,"created_at":"Sun
        Apr 27 20:19:25 +0000 2008","favourites_count":4,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":20562,"lang":"en","status":{"created_at":"Sun
        Jul 27 15:43:08 +0000 2014","id":493421336287404032,"id_str":"493421336287404032","text":"@will_j
        3) Your perception of fast has changed from being exposed to new devices.
        It\u2019s like remembering that Amiga graphics were amazing :)","source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        i\u039fS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":493371860374274048,"in_reply_to_status_id_str":"493371860374274048","in_reply_to_user_id":14432203,"in_reply_to_user_id_str":"14432203","in_reply_to_screen_name":"will_j","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"will_j","name":"Will
        Jessop","id":14432203,"id_str":"14432203","indices":[0,7]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14561327\/1398347760","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 27 Jul 2014 17:55:40 GMT
recorded_with: VCR 2.9.2
