---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="428cc3fbaef819e0c0b03779b2329639",
        oauth_signature="myr3dm%2BqGhxOPM65FkScUHggIvA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406483708", oauth_token="266200338-UHwokfGYPxOs5qzzKCDAEEU2txU7LZJQXXlJqXD0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Jul 2014 17:55:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '115'
      X-Rate-Limit-Reset:
      - '1406483773'
      X-Transaction:
      - bdee8f1f95332048
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Jul 27 15:43:52 +0000 2014","id":493421520325476353,"id_str":"493421520325476353","text":"aaa
        kira","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":266200338,"id_str":"266200338","name":"ivanov
        invan","screen_name":"kistest","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":2,"listed_count":0,"created_at":"Mon
        Mar 14 21:02:30 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":181,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1305344470\/1302340638.79362_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1305344470\/1302340638.79362_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"hu"},{"created_at":"Sun
        Jul 27 15:28:49 +0000 2014","id":493417731883270144,"id_str":"493417731883270144","text":"ddfdfdffd","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":266200338,"id_str":"266200338","name":"ivanov
        inva[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="87992447f682705c5c638d384b75aac6",
        oauth_signature="WcpSd8k1HSD%2F%2Fbwb2QNOr3MaKdk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406483740", oauth_token="266200338-UHwokfGYPxOs5qzzKCDAEEU2txU7LZJQXXlJqXD0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Jul 2014 17:55:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1406483755'
      X-Transaction:
      - 36e0cfa420498f6d
    body:
      encoding: UTF-8
      string: '{"id":14561327,"id_str":"14561327","name":"DHH","screen_name":"dhh","location":"Chicago,
        USA","description":"Creator of Ruby on Rails, Founder & CTO at Basecamp (formerly
        37signals), NYT Best-selling author of REWORK and REMOTE, and Le Mans class-winning
        racing driver.","url":"http:\/\/t.co\/IaAsahpjsQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaAsahpjsQ","expanded_url":"http:\/\/david.heinemeierhansson.com","display_url":"david.heinemeierhansson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":118128,"friends_count":180,"listed_count":6808,"created_at":"Sun
        Apr 27 20:19:25 +0000 2008","favourites_count":4,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":20562,"lang":"en","status":{"created_at":"Sun
        Jul 27 15:43:08 +0000 2014","id":493421336287404032,"id_str":"493421336287404032","text":"@will_j
        3) Your perception of fa[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&user_id=14561327
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="98eda83ba559cb51fe45c753316b7cd8",
        oauth_signature="MhDZKdVk91Uu43h7KJfbR9U7jlg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406483742", oauth_token="266200338-UHwokfGYP[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&since_id=493418009373847552&user_id=14561327
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="OTTPxUMDPc2kyXbTZ7fUEB85A", oauth_nonce="a598e1ab486ec19beb773b24934b4780",
        oauth_signature="um720o02ewSXwd4qH2GGnOSHd9U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1406483752", oauth_token="266200338-UHwokfGYPxOs5qzzKCDAEEU2txU7LZJQXXlJqXD0",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 Jul 2014 17:55:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '113'
      X-Rate-Limit-Reset:
      - '1406483773'
      X-Transaction:
      - d86c3e9bcad945f4
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Sun, 27 Jul 2014 17:55:52 GMT
recorded_with: VCR 2.9.2
